<div class="gn">

  <div class="qv rc aog alu" ng-controller="OwnerProfileController">
    <div class="qx" style="background-image:url(img/{{owner.profileBG}});">
    </div>


    <div class="qw dj">
          <a href="profile/index.html">
            <img class="aoh" src="/public/img/profile_photo/{{owner.profile.profileImg}}">
          </a>

          <h5 class="qy">
            <a class="aku" href="profile/index.html">It's my Secret</a>
          </h5>

          <p class="alu">{{owner.text}}</p>

          <ul class="aoi">
            <li class="aoj">
              <a href="#userModal" class="aku" data-toggle="modal">
                From
                <h5 class="ali">{{owner.profile.displayName}}</h5>
              </a>
            </li>

            <li class="aoj">
              <a href="#userModal" class="aku" data-toggle="modal">
                Date
                <h5 class="ali">{{owner.updateDate}}</h5>
              </a>
            </li>
          </ul>
        </div>
  </div>

  <div class="qv rc sm sp">
        <div class="qw">
          <h5 class="ald">Inbox <small>· <a href="#">go</a></small></h5>
          <div data-grid="images" data-target-height="150">
            <div style="margin-bottom: 10px; margin-right: 10px; display: inline-block; vertical-align: bottom;">
              <img data-width="640" data-height="640" data-action="zoom" src="/public/images/plate-holiday-love-holidays-medium.jpg" style="width: 100px; height: 70px;">
            </div>

            <div style="margin-bottom: 10px; margin-right: 0px; display: inline-block; vertical-align: bottom;">
              <img data-width="640" data-height="640" data-action="zoom" src="/public/images/pexels-photo-medium (2).jpg" style="width: 100px; height: 70px;">
            </div>

            <div style="margin-bottom: 10px; margin-right: 10px; display: inline-block; vertical-align: bottom;">
              <img data-width="640" data-height="640" data-action="zoom" src="/public/images/pexels-photo-medium (3).jpg" style="width: 100px; height: 70px;">
            </div>

            <div style="margin-bottom: 10px; margin-right: 0px; display: inline-block; vertical-align: bottom;">
              <img data-width="640" data-height="640" data-action="zoom" src="/public/images/pexels-photo-medium (4).jpg" style="width: 100px; height: 70px;">
            </div>

            <div style="margin-bottom: 10px; margin-right: 10px; display: inline-block; vertical-align: bottom;">
              <img data-width="640" data-height="640" data-action="zoom" src="/public/images/pexels-photo-medium (5).jpg" style="width: 100px; height: 70px;">
            </div>

            <div style="margin-bottom: 10px; margin-right: 0px; display: inline-block; vertical-align: bottom;">
              <img data-width="640" data-height="640" data-action="zoom" src="/public/images/pexels-photo-medium (6).jpg" style="width: 100px; height: 70px;">
            </div>
          </div>
        </div>
  </div>
</div>
