<nav class="ck pc os app-navbar">
  <div class="by">
    <div class="or">
      <button type="button" class="ou collapsed" data-toggle="collapse" data-target="#navbar-collapse-main" aria-expanded="false">
          <span class="cv">Toggle navigation</span>
          <span class="ov"></span>
          <span class="ov"></span>
          <span class="ov"></span>
        </button>
        <a class="e" href="index.html">
          <img src="/public/img/brand.png" alt="brand">
        </a>
    </div>

    <div class="f collapse" id="navbar-collapse-main" aria-expanded="false">
      <ul class="nav navbar-nav ss">
        <li class="active">
          <a href="#index.html">Home</a>
        </li>
        <li>
          <a href="#profile.html">profile</a>
        </li>
        <li>
          <a href="#inbox.html">Inbox</a>
        </li>
        <li>
          <a href="#Publishedsecret.html">Published Secret</a>
        </li>
      </ul>

    <ul class="nav navbar-nav og ale">
      <li>
      <button class="cg fm ox anl" data-toggle="popover" data-orginal-title title>
        <a href="#/login" ><img class="cu" src="/public/img/profile_photo/images14.jpeg" alt="photo"></a>
      </button>

      </li>
    </ul>
    <form class="ow og i" role="search">
      <div class="et">
        <input type="text" class="form-control" data-action="grow" placeholder="search">
      </div>
    </form>
    </div>
    <ul class="nav navbar-nav st su sv">
          <li><a href="index.html">Home</a></li>
          <li><a href="profile.html">profile</a></li>
          <li><a data-toggle="modal" href="#msgModal">Inbox</a></li>
          <li><a href="Publishedsecret.html">Published Secret</a></li>
          <li><a href="login/index.html">Logout</a></li>
        </ul>
        <ul class="nav navbar-nav hidden">
          <li><a href="login/index.html">Logout</a></li>
        </ul>
  </div>
</nav>
